<h1><%= @restaurant.name %></h1>
<h2><%= @restaurant.cuisine %></h2>
<p><%= @restaurant.description %></p>

<h3>Average rating: <%= star_rating(@restaurant.average_rating) %></h3>
<ul>
  <% @restaurant.reviews.each do |review| %>
    <li class='review'><%= star_rating(review.rating) %> <%= review.comment %> - <i>posted by <%= User.find(review.user_id).email %> <%= time_ago_in_words(review.created_at) %> ago</i>
    <% if user_signed_in? && review.user_id == current_user.id %>
      <%= link_to 'Edit review', edit_review_path(review) %>
      <%= link_to 'Delete review', review_path(review), method: :delete %>
    <% elsif user_signed_in? %>
      <%= link_to 'Endorse this review', review_endorsements_path(review), class: "endorsements-link" %>
    <% end %>
    <span class="endorsements-count"><%= pluralize(review.endorsements.count, 'endorsement') %></span>
    </li>
  <% end %>
</ul>